@use "../../styles/abstract/variable" as *;

.wrapper {
  //   margin-top: 1rem;
  padding: 1rem;

  .cards {
    width: 100%;
    //   max-height: 500px;
    //   margin: 0 auto;
    display: grid;
    //   justify-items: center;
    //   align-content: center;
    gap: 1rem;

    @media (min-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: $xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $xxl) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
