@use "../../../styles/abstract/variable" as *;

.account_content {
  width: 375px;
  text-align: center;
  margin: 1rem;
  // border: 1px solid grey;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  height: $navbar-height;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1;

  .button {
    .icon {
      // font-size: 1rem;
      color: blue;
      transition: 0.25s ease-in-out;

      &:hover {
        transform: scale(2);
      }
    }
  }
}
